{{#each art}}
<div class="card mb-2">
    <div class="card-header form-inline" id="headline">
        <h2>{{this.headline}}</h2>
        <div class="col text-right">
            <a href="#" class="btn btn-primary">Notes</a>
            <a href="#" class="btn btn-danger">Delete X</a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title" id="summary">{{this.summary}}</h5>
        <p class="card-text" id="url">{{this.url}}</p>
    </div>
</div>
{{/each}}